.place__title {
  margin: 0 0 32px 16px;
  max-width: 288px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
  grid-area: place__title;
}

@media (min-width: 768px) {
  .place__title {
    margin: 0 0 48px 24px;
    max-width: 326px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    margin: 0 0 48px 48px;
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media (min-width: 1280px) {
  .place__title {
    margin: 0 0 48px 148px;
    max-width: 460px;
  }
}
