.footer__copyright {
  margin: 16px 0 24px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .footer__copyright {
    margin: 0;
    line-height: 16px;
  }
}
