.lead__subtitle {
  margin: 0 16px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .lead__subtitle {
    margin: 0 64px 56px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 1024px) {
  .lead__subtitle {
    margin: 0 192px 56px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin: 0 320px 64px;
  }
}
