.cover__title {
  margin: 0 16px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  align-self: end;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}

