.place {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-areas:
    'place__title'
    'place__website'
    'place__image'
    'place__paragraphs';
}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
      'place__title place__website'
      'place__image place__paragraphs';
  }
}

