.cover__hover-link {
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  text-decoration: none;
}

.cover__hover-link:hover .cover__overlay {
  background: rgba(42, 44, 47, .8);
}

@media (min-width: 768px) {
  .cover__hover-link {
    grid-template-rows: 54% 46%;
  }
}

@media (min-width: 1280px) {
  .cover__hover-link {
    margin: 0 48px;
  }
}
